*{
    margin: 0;
    padding: 0;
}

:root{
    --grey: #364954;
    --blue: #118AB2;
    --moderateBlue: #58adc9;
    --lightBlue: #EBF2FA;
    --green: #00856F;
    --purple: #8911B2;
}

body{
    font-family: Nunito, Helvetica, Arial;
    font-size: 20px;
    overflow: hidden;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr auto 1fr;

    background-color: var(--lightBlue);
}

.container{
    min-height: 80vh;
    display: grid;
    align-items: center;
}

h1, h2, h3, h4, h5, h6{
    margin: 0.5em 0;
}

button{
    padding: 1.3em 2em;
}

a{
    text-decoration: none;
}

.purpleText{
    color: var(--purple);
}

.greyText{
    color: var(--grey);
}

.opaquegreyText{
    color: var(--grey);
    opacity: 0.6;
}

@media screen and (max-width: 700px){
    body{
        font-size: 1em;
    }
}